### **Import library**

In [1]:
# Import library
import numpy as np
import pandas as pd

### **Random data**

In [2]:
n = 100 # Jumlah siswa

# Menghasilkan data untuk tugas, uts, dan uas
tugas = np.random.normal(85, 7, n)
uts = np.random.normal(60, 15, n)
uas = np.random.normal(75, 10, n)

### **Membuat Data Frame**

In [3]:
# Membuat DataFrame
df = pd.DataFrame({
    'tugas': tugas,
    'uts': uts,
    'uas': uas
})

### **Menghitung nilai akhir**

In [4]:
# Menghitung nilai akhir
df['nilai_akhir'] = df['tugas'] * 0.2 + df['uts'] * 0.4 + df['uas'] * 0.4

In [5]:
def binning(nilai):
    if 85 <= nilai <= 100:
        return 'A'
    elif 80 <= nilai < 85:
        return 'A-'
    elif 75 <= nilai < 80:
        return 'B+'
    elif 70 <= nilai < 75:
        return 'B'
    elif 65 <= nilai < 70:
        return 'B-'
    elif 60 <= nilai < 65:
        return 'C+'
    elif 55 <= nilai < 60:
        return 'C'
    elif 50 <= nilai < 55:
        return 'C-'
    elif 20 <= nilai < 50:
        return 'D'
    else:
        return 'E'

# Membuat kolom baru dengan binning
df['nilai_akhir_binning'] = df['nilai_akhir'].apply(binning)

### **Cetak DataFrame sebelum menambahkan kolom grade**

In [6]:
# Cetak DataFrame sebelum menambahkan kolom grade
print(df[['tugas', 'uts', 'uas', 'nilai_akhir']])

        tugas        uts        uas  nilai_akhir
0   82.611995  56.868905  63.138505    64.525363
1   90.140897  55.939772  86.603795    75.045606
2   79.533918  51.329296  74.166873    66.105251
3   86.609002  70.499361  78.124016    76.771151
4   65.426894  66.067554  62.953855    64.693942
..        ...        ...        ...          ...
95  81.427311  68.216741  88.710476    79.056349
96  93.147257  72.601188  86.792649    82.386986
97  83.750336  74.283439  75.735369    76.757590
98  84.532397  65.497557  91.065860    79.531846
99  87.473703  71.090050  67.331392    72.863318

[100 rows x 4 columns]

### **Tambahkan kolom grade**

In [7]:
# Tambahkan kolom grade
df['grade'] = df['nilai_akhir'].apply(binning)

### **Cetak DataFrame setelah menambahkan kolom grade**

In [8]:
# Cetak DataFrame setelah menambahkan kolom grade
print(df[['tugas', 'uts', 'uas', 'nilai_akhir', 'grade']])

        tugas        uts        uas  nilai_akhir grade
0   82.611995  56.868905  63.138505    64.525363    C+
1   90.140897  55.939772  86.603795    75.045606    B+
2   79.533918  51.329296  74.166873    66.105251    B-
3   86.609002  70.499361  78.124016    76.771151    B+
4   65.426894  66.067554  62.953855    64.693942    C+
..        ...        ...        ...          ...   ...
95  81.427311  68.216741  88.710476    79.056349    B+
96  93.147257  72.601188  86.792649    82.386986    A-
97  83.750336  74.283439  75.735369    76.757590    B+
98  84.532397  65.497557  91.065860    79.531846    B+
99  87.473703  71.090050  67.331392    72.863318     B

[100 rows x 5 columns]