# Pandas

The pandas DataFrame is a structure that contains two-dimensional data and its corresponding labels.

Import libraries that are needed

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('Games Sales.csv')

In [5]:
df.head()

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,12/1/2017,Battle royale,PUBG Studios,Krafton
1,Minecraft,33.0,Minecraft,11/1/2011,"Sandbox, survival",Mojang Studios,Mojang Studios
2,Diablo III,20.0,Diablo,5/1/2012,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,11/1/2006,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,5/1/2011,Action-adventure,Re-Logic,Re-Logic

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       177 non-null    object
 1   Sales      177 non-null    float64
 2   Series     141 non-null    object
 3   Release    177 non-null    object
 4   Genre      177 non-null    object
 5   Developer  177 non-null    object
 6   Publisher  177 non-null    object
dtypes: float64(1), object(6)
memory usage: 9.8+ KB

In [7]:
df.notnull().sum()

Name         177
Sales        177
Series       141
Release      177
Genre        177
Developer    177
Publisher    177
dtype: int64

In [8]:
df.isnull().sum()

Name          0
Sales         0
Series       36
Release       0
Genre         0
Developer     0
Publisher     0
dtype: int64

In [9]:
df.tail()

,Name,Sales,Series,Release,Genre,Developer,Publisher
172,Who Wants to Be a Millionaire?,1.0,NaN,11/1/1999,Trivia game,Jellyvision,Disney Interactive Studios
173,Wing Commander 3: Heart of the Tiger,1.0,Wing Commander,12/1/1994,Space combat simulation,Origin Systems,Electronic Arts
174,Zoo Tycoon,1.0,Zoo Tycoon,10/1/2001,Business simulation,Microsoft,Blue Fang Games
175,StarCraft II: Heart of the Swarm,1.0,StarCraft,3/1/2013,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,1.0,StarCraft,11/1/2015,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment

In [10]:
df.columns

Index(['Name', 'Sales', 'Series', 'Release', 'Genre', 'Developer',
       'Publisher'],
      dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=177, step=1)

In [12]:
# Menampilkan Informasi dari colimn-column yang berbentuk angka
df.describe()

            Sales
count  177.000000
mean     3.116949
std      4.937466
min      1.000000
25%      1.000000
50%      1.500000
75%      3.000000
max     42.000000

In [13]:
# Menampilkan rerata column sales
df['Sales'].mean()

3.116949152542373

In [14]:
# Menampilkan median column sales
df['Sales'].median()

1.5

In [15]:
# Menampilkan modus column sales
df['Sales'].mode()[0]

1.0

In [16]:
df[df['Sales'].isnull()]

Empty DataFrame
Columns: [Name, Sales, Series, Release, Genre, Developer, Publisher]
Index: []

In [17]:
df[['Name','Sales']]

                                     Name  Sales
0           PlayerUnknown's Battlegrounds   42.0
1                               Minecraft   33.0
2                              Diablo III   20.0
3                             Garry's Mod   20.0
4                                Terraria   17.2
..                                    ...    ...
172        Who Wants to Be a Millionaire?    1.0
173  Wing Commander 3: Heart of the Tiger    1.0
174                            Zoo Tycoon    1.0
175      StarCraft II: Heart of the Swarm    1.0
176      StarCraft II: Legacy of the Void    1.0

[177 rows x 2 columns]

In [18]:
df.Sales.value_counts()

Sales
1.0     79
2.0     33
3.0      9
4.0      7
2.5      5
1.5      4
6.0      4
5.0      4
1.3      3
20.0     2
5.5      2
1.1      2
1.2      2
9.0      2
10.0     2
11.0     2
12.0     2
2.7      1
2.1      1
1.8      1
42.0     1
3.3      1
3.6      1
33.0     1
6.5      1
7.0      1
8.0      1
14.0     1
17.2     1
4.5      1
Name: count, dtype: int64

In [19]:
df.Genre.unique()

array(['Battle royale', 'Sandbox,\xa0survival', 'Action role-playing',
       'Sandbox', 'Action-adventure', 'MMORPG', 'First-person shooter',
       'Real-time strategy', 'Life simulation',
       'Construction and management simulation', 'Survival',
       'Turn-based strategy,\xa04X', 'Vehicle simulation',
       'Tactical shooter', 'City-building', 'God game', 'Educational',
       'Graphic adventure', 'City-building game', 'Turn-based strategy',
       'Adventure,\xa0puzzle', 'Role-playing game', 'Survival horror',
       'Computer role-playing game', 'Third-person shooter',
       'Racing game', 'Simulation', 'Fighting',
       'Action-adventure,\xa0roguelike', 'Action-adventure,\xa0stealth',
       'Compilation', 'RTS,\xa04X,\xa0Grand Strategy',
       'Third-person shooter,\xa0survival horror',
       'Action role-playing,\xa0hack and slash',
       'Action role-playing game', 'Maze,\xa0arcade',
       'Action-adventure,\xa0platformer', 'Action-adventure,\xa0Survival',
       'Point-and-click', 'Real-time tactics', 'Grand strategy',
       'Run and gun', 'Visual novel,\xa0adventure', 'Interactive movie',
       'Sports', 'Action', 'Sim racing',
       'Real-time strategy,\xa0grand strategy wargame', 'Metroidvania',
       'Business simulation', 'Graphic adventure,\xa0puzzle',
       'Amateur flight simulation', 'Platform', 'Adventure',
       "Beat 'em up,\xa0run-and-gun", 'Rail shooter',
       'Simulation,\xa0role-playing game', 'Puzzle',
       'Interactive fiction', 'Trivia game', 'Space combat simulation'],
      dtype=object)

In [20]:
df.Genre.nunique()

61

In [21]:
# memanggil column Sales value 5
df[df['Sales']==5]

,Name,Sales,Series,Release,Genre,Developer,Publisher
23,Cities: Skylines,5.0,NaN,3/1/2015,City-building,Colossal Order,Paradox Interactive
24,Guild Wars 2,5.0,Guild Wars,8/1/2012,MMORPG,ArenaNet,NCsoft
25,SimCity 3000,5.0,SimCity,1/1/1999,City-building,Maxis,Electronic Arts
26,The Forest,5.0,NaN,4/1/2018,Survival,Endnight Games,Endnight Games

In [22]:
df[df['Release']< '1/1/2015']

,Name,Sales,Series,Release,Genre,Developer,Publisher
25,SimCity 3000,5.0,SimCity,1/1/1999,City-building,Maxis,Electronic Arts
72,Magicka,2.0,NaN,1/1/2011,Action-adventure,Arrowhead Game Studios,Paradox Interactive
77,SimCity 4,2.0,SimCity,1/1/2003,City-building,Maxis,Electronic Arts (Windows)
118,Duke Nukem 3D,1.0,Duke Nukem,1/1/1996,First-person shooter,3D Realms,GT Interactive Software
162,Tetris,1.0,Tetris,1/1/1988,Puzzle,Spectrum HoloByte,Spectrum HoloByte

In [23]:
# memanggil colum age yang value nya lebih dari sama dengan 5
df[~(df['Sales']> 10)]

,Name,Sales,Series,Release,Genre,Developer,Publisher
10,Fall Guys,10.0,NaN,8/1/2020,Battle royale,Mediatonic,Devolver Digital
11,RollerCoaster Tycoon 3,10.0,RollerCoaster Tycoon,10/1/2004,Construction and management simulation,Frontier Developments,"Atari, Inc. (Windows)"
12,Half-Life,9.0,Half-Life,11/1/1998,First-person shooter,Valve,Sierra Entertainment
13,Rust,9.0,NaN,2/1/2018,Survival,Facepunch Studios,Facepunch Studios
14,Civilization V,8.0,Civilization,9/1/2010,"Turn-based strategy, 4X",Firaxis Games,2K Games & Aspyr
...,...,...,...,...,...,...,...
172,Who Wants to Be a Millionaire?,1.0,NaN,11/1/1999,Trivia game,Jellyvision,Disney Interactive Studios
173,Wing Commander 3: Heart of the Tiger,1.0,Wing Commander,12/1/1994,Space combat simulation,Origin Systems,Electronic Arts
174,Zoo Tycoon,1.0,Zoo Tycoon,10/1/2001,Business simulation,Microsoft,Blue Fang Games
175,StarCraft II: Heart of the Swarm,1.0,StarCraft,3/1/2013,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,1.0,StarCraft,11/1/2015,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment

In [24]:
df[(df['Sales']> 5) & (df['Release']== '11/1/2015')]

Empty DataFrame
Columns: [Name, Sales, Series, Release, Genre, Developer, Publisher]
Index: []

In [25]:
df[(df['Sales']> 5) | (df['Release']== '11/1/2015')]

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,12/1/2017,Battle royale,PUBG Studios,Krafton
1,Minecraft,33.0,Minecraft,11/1/2011,"Sandbox, survival",Mojang Studios,Mojang Studios
2,Diablo III,20.0,Diablo,5/1/2012,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,11/1/2006,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,5/1/2011,Action-adventure,Re-Logic,Re-Logic
5,World of Warcraft,14.0,Warcraft,11/1/2004,MMORPG,Blizzard Entertainment,Blizzard Entertainment
6,Half-Life 2,12.0,Half-Life,11/1/2004,First-person shooter,Valve,Valve (digital)
7,The Witcher 3: Wild Hunt,12.0,The Witcher,5/1/2015,Action role-playing,CD Projekt Red,CD Projekt
8,StarCraft,11.0,StarCraft,3/1/1998,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
9,The Sims,11.0,The Sims,2/1/2000,Life simulation,Maxis,Electronic Arts
10,Fall Guys,10.0,NaN,8/1/2020,Battle royale,Mediatonic,Devolver Digital
11,RollerCoaster Tycoon 3,10.0,RollerCoaster Tycoon,10/1/2004,Construction and management simulation,Frontier Developments,"Atari, Inc. (Windows)"
12,Half-Life,9.0,Half-Life,11/1/1998,First-person shooter,Valve,Sierra Entertainment
13,Rust,9.0,NaN,2/1/2018,Survival,Facepunch Studios,Facepunch Studios
14,Civilization V,8.0,Civilization,9/1/2010,"Turn-based strategy, 4X",Firaxis Games,2K Games & Aspyr
15,The Sims 3,7.0,The Sims,6/1/2009,Life simulation,Maxis,Electronic Arts
16,Euro Truck Simulator 2,6.5,Truck Simulator,10/1/2012,Vehicle simulation,SCS Software,SCS Software
17,Guild Wars,6.0,Guild Wars,4/1/2005,MMORPG,ArenaNet,NCsoft
18,StarCraft II: Wings of Liberty,6.0,StarCraft,7/1/2010,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
19,The Sims 2,6.0,The Sims,9/1/2004,Life simulation,Maxis,Electronic Arts
20,Valheim,6.0,NaN,2/1/2021,Survival,Iron Gate,Coffee Stain Publishing
21,ARMA 3,5.5,ARMA,9/1/2013,Tactical shooter,Bohemia Interactive,Bohemia Interactive
22,Last Ninja 2,5.5,The Last Ninja,8/1/1988,Action-adventure,System 3,Activision
158,StarCraft II: Legacy of the Void,1.0,StarCraft,11/1/2015,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment
176,StarCraft II: Legacy of the Void,1.0,StarCraft,11/1/2015,Real-time strategy,Blizzard Entertainment,Blizzard Entertainment

In [26]:
df.shape

(177, 7)